---
import ItemCard from "@/components/ItemCard.astro";
import SideLayout from "@/layouts/SideLayout.astro";
---

<SideLayout title="Calculus 12 | Integral Calculus">
    <main class="grid items-center grid-cols-3 gap-4">
        <header class="text-center col-span-3 p-8">
          <h1>Integral Calculus</h1>
        </header>
        <ItemCard selector="Unit" itemNumber={7} itemName="Antiderivatives and Area" ref="int/anti">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </ItemCard>
        <ItemCard selector="Unit" itemNumber={8} itemName="Applications and Methods" ref="int/applied" stable="Experimental">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </ItemCard>
    </main>
</SideLayout>