---
import CourseCard from "@/components/CourseCard.astro";
import ItemCard from "@/components/ItemCard.astro";
import SideLayout from "@/layouts/SideLayout.astro";
---

<SideLayout title="Calculus 12 | Pre-Calculus">
    <main class="grid items-center grid-cols-3 gap-4">
        <header class="text-center col-span-3 p-8">
          <h1>Unit I: Pre-Calculus</h1>
        </header>
        <ItemCard selector="Lesson" itemNumber={1} itemName="Factoring" ref="../slides/Calc12/PreCalc/Lesson 1">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </ItemCard>
        <ItemCard selector="Lesson" itemNumber={2} itemName="Rationalization" ref="../slides/Calc12/PreCalc/Lesson 2">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </ItemCard>
        <ItemCard selector="Lesson" itemNumber={3} itemName="Operations" ref="../slides/Calc12/PreCalc/Lesson 3">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </ItemCard>
        <ItemCard selector="Lesson" itemNumber={4} itemName="Transformations" ref="../slides/Calc12/PreCalc/Lesson 4">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </ItemCard>
        <CourseCard course="Practice Quiz" ref="../slides/Calc12/PreCalc/Quiz">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </CourseCard>
        <ItemCard selector="Lesson" itemNumber={5} itemName="Intervals" ref="../slides/Calc12/PreCalc/Lesson 5">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </ItemCard>
        <ItemCard selector="Lesson" itemNumber={6} itemName="Quadratic Inequalities" ref="../slides/Calc12/PreCalc/Lesson 6">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </ItemCard>
        <ItemCard selector="Lesson" itemNumber={7} itemName="Rational Inequalities" ref="../slides/Calc12/PreCalc/Lesson 7">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </ItemCard>
        <ItemCard selector="Lesson" itemNumber={8} itemName="Absolute-Value Inequalities" ref="../slides/Calc12/PreCalc/Lesson 8">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </ItemCard>
        <ItemCard selector="Lesson" itemNumber={9} itemName="Trigonometric Identities" ref="../slides/Calc12/PreCalc/Lesson 9">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </ItemCard>
    </main>
</SideLayout>