---
import CourseCard from "@/components/CourseCard.astro";
import ItemCard from "@/components/ItemCard.astro";
import SideLayout from "@/layouts/SideLayout.astro";
---

<SideLayout title="Differental Calculus | Extrema and Curve Sketching">
    <main class="grid items-center grid-cols-3 gap-4">
        <header class="text-center col-span-3 p-8">
          <h1>Unit V: Extrema and Curve Sketching</h1>
        </header>
        <ItemCard selector="Lesson" itemNumber={1} itemName="Intercepts and Zeros" ref="../../slides/Calc12/Differential/Extrema/Lesson 1" stable="RC">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </ItemCard>
        <ItemCard selector="Lesson" itemNumber={2} itemName="Symmetry of Functions" ref="../../slides/Calc12/Differential/Extrema/Lesson 2" stable="RC">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </ItemCard>
        <ItemCard selector="Lesson" itemNumber={3} itemName="Extrema Values" ref="../../slides/Calc12/Differential/Extrema/Lesson 3" stable="RC">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </ItemCard>
        <ItemCard selector="Lesson" itemNumber={4} itemName="Concavity and Points of Inflection" ref="../../slides/Calc12/Differential/Extrema/Lesson 4" stable="RC">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </ItemCard>
        <ItemCard selector="Lesson" itemNumber={5} itemName="Optimization Problems" ref="../../slides/Calc12/Differential/Extrema/Lesson 5" stable="RC">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </ItemCard>
        <CourseCard course="Practice Quiz" ref="../../slides/Calc12/Differential/Extrema/Quiz" stable="Unstable">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </CourseCard>
        <ItemCard selector="Lesson" itemNumber={6} itemName="Vertical Asymptotes" ref="../../slides/Calc12/Differential/Extrema/Lesson 6" stable="Unstable">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </ItemCard>
        <ItemCard selector="Lesson" itemNumber={7} itemName="Horizontal Asymptotes" ref="../../slides/Calc12/Differential/Extrema/Lesson 7" stable="Unstable">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </ItemCard>
        <ItemCard selector="Lesson" itemNumber={8} itemName="Oblique Asymptotes" ref="../../slides/Calc12/Differential/Extrema/Lesson 8" stable="Unstable">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </ItemCard>
    </main>
</SideLayout>