---
import CourseCard from "@/components/CourseCard.astro";
import ItemCard from "@/components/ItemCard.astro";
import SideLayout from "@/layouts/SideLayout.astro";
---

<SideLayout title="Integral Calculus | Methods and Applications">
    <main class="grid items-center grid-cols-3 gap-4">
        <header class="text-center col-span-3 p-8">
          <h1>Unit VIII: Applications and Methods of Integration</h1>
        </header>
        <ItemCard selector="Lesson" itemNumber={1} itemName="Fundamental Theorem of Calculus" ref="../../slides/Calc12/Integral/Applications/Lesson 1" stable="RC">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </ItemCard>
        <ItemCard selector="Lesson" itemNumber={2} itemName="Integration by Substitution" ref="../../slides/Calc12/Integral/Applications/Lesson 2" stable="RC">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </ItemCard>
        <ItemCard selector="Lesson" itemNumber={3} itemName="Integration by Partial Fractions" ref="../../slides/Calc12/Integral/Applications/Lesson 3" stable="Unstable">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </ItemCard>
        <ItemCard selector="Lesson" itemNumber={4} itemName="Integration by Parts" ref="../../slides/Calc12/Integral/Applications/Lesson 4" stable="Unstable">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </ItemCard>
        <CourseCard course="Practice Quiz" ref="../../slides/Calc12/Differential/Applications/Quiz" stable="Unstable">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </CourseCard>
        <ItemCard selector="Lesson" itemNumber={5} itemName="Volumes of Revolution" ref="../../slides/Calc12/Integral/Applications/Lesson 5" stable="Unstable">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </ItemCard>
        <ItemCard selector="Lesson" itemNumber={6} itemName="Differential Equations with Initial Values" ref="../../slides/Calc12/Integral/Applications/Lesson 6" stable="Unstable">
            Math isn't just about numbers and symbols; it teaches us valuable skills
            like connecting ideas, being creative, communicating effectively,
            visualizing concepts, and reasoning logically.
        </ItemCard>
</SideLayout>