---
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout title="Nota-Set | U of H">
  <h1>Astro</h1>
  <ul>
    <li>
      <a href="pc11.html">Pre-Calculus 11</a>
    </li>
    <li>
      <a href="ss10.html">Socials 10</a>
    </li>
    <li>
      <a href="pc12.html">Pre-Calculus 12</a>
    </li>
  </ul>
</MainLayout>
