---
import CourseCard from "@/components/CourseCard.astro";
import { buttonVariants } from "@/components/ui/button";
import {
  Card,
  CardContent,
  CardFooter,
  CardHeader,
} from "@/components/ui/card";
import SideLayout from "@/layouts/SideLayout.astro";
---

<SideLayout title="Sidebar Test">
  <main class="grid items-center grid-cols-3 gap-4">
    <header class="text-center col-span-3 p-8">
      <h1>Nota-Set</h1>
    </header>
    <CourseCard course="Socials 10" ref="ss10">
      During the period from 1914 to 2000, Canada transitioned from a British
      colony to an independent nation and played a crucial role in significant
      global events.
    </CourseCard>
    <CourseCard course="Pre-Calculus 11" ref="pc11">
      Math isn't just about numbers and symbols; it teaches us valuable skills
      like connecting ideas, being creative, communicating effectively,
      visualizing concepts, and reasoning logically.
    </CourseCard>
    <CourseCard course="Pre-Calculus 12" ref="pc12">
      To put it simply, the fundamental root of all the content in Pre-Calculus
      12 is the function transformation, but what exactly is a transformation?
    </CourseCard>
  </main>
</SideLayout>
