---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Rubik&display=swap');

body{
    background-color: #190707;
}

h1, h2, h3, a, p, span, li{
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    color: white;
  }
  
  a {
    text-decoration: none;
  }