@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Rubik&display=swap');

:root {
  --text: #d4fcea;
  --background: #111111;
  --primary: #6f0606;
  --secondary: #2b0303;
  --accent: #ec0e0e;
}

body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, a, p, span {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--text);
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--accent);
  transition: color 0.2s ease-in-out;
}

/*Navbar Specific Styling*/
nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--primary);
}
item {
  padding: 3rem 2rem;
  display: flex;
  gap: 1rem;
  border-left: 1px solid var(--primary);
  align-items: center;
  justify-content: center;
}

#logo {
  justify-content: flex-start;
}

#logo > a > i {
  font-size: 2.5rem;
}

#logo, #links {
  flex-basis: calc(100% / 3);
}

#social, #contact {
  flex-grow: 1;
}

#links {
  gap: 6rem;
}

#social {
  gap: 3rem;
}

.fa-twitter:hover {
  color: #1da1f2;
  transition: color 0.2s ease-in-out;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--background); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}