@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Rubik&display=swap');

:root {
  /* "Mint": new text color for NKNMT neo */
  --text: oklch(72.97% 0.144 170.2);
  /* "Oxford Blue": new bg color for NKNMT neo */
  --background: oklch(12.96% 0.082 272.77);
  /* "Space Cadet": new primary color for NKMNT neo */
  --primary: oklch(24.66% 0.064 269.76);
  /* "Cardinal": new secondary color for NKNMT neo */
  --secondary: oklch(54.62% 0.181 17.4);
  /* "Naples Yellow": new accent color for NKNMT neo */
  --accent: oklch(90.61% 0.139 98.34);
}

body {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, a, p, span {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--text);
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--accent);
  transition: color 0.2s ease-in-out;
}

/*Navbar Specific Styling*/
nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--primary);
}

item {
  padding: 3rem 2rem;
  display: flex;
  gap: 1rem;
  border-left: 1px solid var(--primary);
  align-items: center;
  justify-content: center;
}

#logo {
  justify-content: flex-start;
}

#logo > a > i {
  font-size: 2.5rem;
}

#logo, #links {
  flex-basis: calc(100% / 3);
}

#social, #contact {
  flex-grow: 1;
}

#links {
  gap: 6rem;
}

#social {
  gap: 3rem;
}

.fa-twitter:hover {
  color: #1da1f2;
  transition: color 0.2s ease-in-out;
}

main {
  flex-grow: 1;
  position: relative;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  align-items: center;
}

h1, h2{
  text-align: center;
}