@import url(fonts.css);

:root {
    --text: white;
    --mint: 72.97% 0.144 170.2;
    /* "Slate": new background color */
    --background: 13.63% 0.036 259.20;
    /* "Space Cadet": new primary color for NKMNT neo */
    --primary: oklch(24.66% 0.064 269.76);
    /* "Cardinal": new secondary color for NKNMT neo */
    --cardinal: 43.58% 0.14 17.33;
    --napoli: 90.61% 0.139 98.34;
  }
  
  body {
    background-color: oklch(var(--background));
    display: flex;
    flex-direction: column;
    height: 100dvh;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1, h2, h3, a, p, span {
    font-family: 'Geist', system-ui, sans-serif;
    --color: var(--_font-color, --text);
    color: var(--color);
  }
  
  a {
    text-decoration: none;
  }
  
  /*Navbar Specific Styling*/
  nav {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--primary);
    --_font-color: var(--text);
  }
  
  item {
    padding: 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px solid var(--primary);
    align-items: center;
    justify-content: center;
  }
  
  #logo {
    justify-content: flex-start;
    font-size: 2.5rem;
  }
  
  #logo, #links {
    flex-basis: calc(100% / 3);
  }
  
  #social, #contact {
    flex-grow: 1;
  }
  
  #links, #social {
    gap: 3rem;
  }
  