@font-face {
    font-family: "Geist";
    src: local("Geist"),
    url(fonts/Geist/GeistVF.woff2) format(woff2),
    url(fonts/Geist/GeistVF.woff) format(woff),
    url(fonts/Geist/GeistVF.ttf) format(ttf);
}

@font-face {
    font-family: "Geist Mono";
    src: local("Geist Mono")
    url(fonts/GeistMono/GeistMonoVF.woff2) format(woff2),
    url(fonts/GeistMono/GeistMonoVF.woff) format(woff),
    url(fonts/GeistMono/GeistMonoVF.ttf) format(ttf);
}